extends layout

block messages
  div.heading-bar
    h1 Messages
    button.new
      a(href="/new") Post new message
  ul.messages
    each message in messages
      li.message
        p.text= message.text 
        p.details #[b #{message.user}] - #{message.added.toLocaleString('en-GB', { dateStyle: 'full', timeStyle: 'short' })}
  