body {
    font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
    color: black;
}

header {
    align-self: center;
}

main {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.message {
    border-radius: 0.4rem;
    position: absolute;
    padding: 1rem;
    min-height: 10rem;
    width: min(15rem, 50vw);
}

form {
    display: flex;
    align-self: center;
    width: min(500px, 95vw);
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

form > input,
form > textarea {
    margin-bottom: 1rem;
    resize: none;
}

button[type='submit'] {
    align-self: flex-end;
}
